.banner {
    background-color: #6278f7;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.banner img {
    max-width: 100%;
}